In [1]:
import pandas as pd

my_books = pd.read_csv("liked_books.csv", index_col=0)
my_books["book_id"] = my_books["book_id"].astype(str)

In [2]:
my_books

,user_id,book_id,rating,title
0,-1,2517439,5,"The Forever War (The Forever War, #1)"
1,-1,113576,5,The Smartest Guys in the Room: The Amazing Ris...
2,-1,35100,5,Battle Cry of Freedom
3,-1,228221,5,The Mask of Command
5,-1,17662739,5,"2001: A Space Odyssey (Space Odyssey, #1)"
6,-1,356824,5,India After Gandhi: The History of the World's...
7,-1,12125412,5,The Lady or the Tiger?: and Other Logic Puzzles
8,-1,139069,5,Endurance: Shackleton's Incredible Voyage
10,-1,76680,5,"Foundation (Foundation, #1)"
11,-1,1898,5,Into Thin Air: A Personal Account of the Mount...
12,-1,5096865,5,In Cold Blood
13,-1,228665,5,"The Eye of the World (The Wheel of Time, #1)"
17,-1,437143,5,A Short History of Nearly Everything
18,-1,18949861,5,Contact
19,-1,2913377,5,The Name of the Wind (The Kingkiller Chronicl...
20,-1,1215032,5,The Wise Man's Fear (The Kingkiller Chronicle...
21,-1,883438,5,East of Eden
22,-1,5578108,5,From Colony to Superpower: U.S. Foreign Relati...
23,-1,128029,5,A Thousand Splendid Suns
24,-1,77203,5,The Kite Runner
25,-1,5439,5,Interpreter of Maladies
26,-1,1685995,5,Dune (Dune #1)
27,-1,6448772,5,"Quantum: Einstein, Bohr, and the Great Debate ..."
527,-1,8161140,1,On the Beach
528,-1,28187,1,The Lightning Thief (Percy Jackson and the Ol...
531,-1,25659450,1,Arkwright
532,-1,82599,1,Rabbits: A Novel

In [3]:
def show_image(val):
    return '<a href="{}"><img src="{}" width=50></img></a>'.format(val, val)

In [4]:
csv_book_mapping = {}

with open("book_id_map.csv", "r") as f:
    while True:
        line = f.readline()
        if not line:
            break
        csv_id, book_id = line.strip().split(",")
        csv_book_mapping[csv_id] = book_id

In [5]:
book_set = set(my_books["book_id"])

In [6]:
overlap_users = {}

with open("interactions.csv", 'r') as f:
    while True:
        line = f.readline()
        if not line:
            break
        user_id, csv_id, _, rating, _ = line.split(",")
        
        book_id = csv_book_mapping.get(csv_id)
        
        if book_id in book_set:
            if user_id not in overlap_users:
                overlap_users[user_id] = 1
            else:
                overlap_users[user_id] += 1

In [7]:
len(overlap_users)

316341

In [8]:
filtered_overlap_users = set([k for k in overlap_users if overlap_users[k] > my_books.shape[0]/5])

In [9]:
interactions_list = []

with open("interactions.csv", 'r') as f:
    while True:
        line = f.readline()
        if not line:
            break
        user_id, csv_id, _, rating, _ = line.split(",")
        
        if user_id in filtered_overlap_users:
            book_id = csv_book_mapping[csv_id]
            interactions_list.append([user_id, book_id, rating])

In [10]:
len(interactions_list)

5638701

In [11]:
interactions_list[0]

['282', '627206', '4']

In [12]:
interactions = pd.DataFrame(interactions_list, columns=["user_id", "book_id", "rating"])

In [13]:
interactions = pd.concat([my_books[["user_id", "book_id", "rating"]], interactions])

In [14]:
interactions

        user_id   book_id rating
0            -1   2517439      5
1            -1    113576      5
2            -1     35100      5
3            -1    228221      5
5            -1  17662739      5
...         ...       ...    ...
5638696  804100    475178      0
5638697  804100    186074      0
5638698  804100    153008      0
5638699  804100     45107      0
5638700  804100   1762198      5

[5638728 rows x 3 columns]

In [15]:
interactions["book_id"] = interactions["book_id"].astype(str)
interactions["user_id"] = interactions["user_id"].astype(str)
interactions["rating"] = pd.to_numeric(interactions["rating"])

In [16]:
interactions["user_index"] = interactions["user_id"].astype("category").cat.codes

In [17]:
interactions["book_index"] = interactions["book_id"].astype("category").cat.codes

In [18]:
from scipy.sparse import coo_matrix

ratings_mat_coo = coo_matrix((interactions["rating"], (interactions["user_index"], interactions["book_index"])))

In [19]:
ratings_mat_coo.shape

(1259, 802870)

In [20]:
ratings_mat = ratings_mat_coo.tocsr()

In [21]:
interactions[interactions["user_id"] == "-1"]

    user_id   book_id  rating  user_index  book_index
0        -1   2517439       5           0      414880
1        -1    113576       5           0       38971
2        -1     35100       5           0      575858
3        -1    228221       5           0      356004
5        -1  17662739       5           0      214285
6        -1    356824       5           0      581743
7        -1  12125412       5           0       59763
8        -1    139069       5           0      124430
10       -1     76680       5           0      722098
11       -1      1898       5           0      276178
12       -1   5096865       5           0      625929
13       -1    228665       5           0      357774
17       -1    437143       5           0      607659
18       -1  18949861       5           0      275433
19       -1   2913377       5           0      496223
20       -1   1215032       5           0       60398
21       -1    883438       5           0      767233
22       -1   5578108       5           0      637486
23       -1    128029       5           0       78172
24       -1     77203       5           0      724379
25       -1      5439       5           0      633999
26       -1   1685995       5           0      188133
27       -1   6448772       5           0      671711
527      -1   8161140       1           0      742532
528      -1     28187       1           0      480322
531      -1  25659450       1           0      431105
532      -1     82599       1           0      746448

In [22]:
my_index = 0

In [23]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(ratings_mat[my_index,:], ratings_mat).flatten()

In [46]:
similarity[3]

0.0

In [25]:
import numpy as np

indices = np.argpartition(similarity, -15)[-15:]

In [26]:
indices

array([1188,  942,  218,  129,  496,  435, 1208,  795, 1213, 1210, 1143,
        321,  294,  862,    0], dtype=int64)

In [27]:
similar_users = interactions[interactions["user_index"].isin(indices)].copy()

In [28]:
similar_users = similar_users[similar_users["user_id"]!="-1"]

In [29]:
similar_users

        user_id   book_id  rating  user_index  book_index
45312      4133      5359       3         942      632143
45313      4133  10464963       4         942       13492
45314      4133      3858       3         942      593622
45315      4133  11827808       4         942       51904
45316      4133   7913305       4         942      732465
...         ...       ...     ...         ...         ...
5638521  712588  32388712       3        1143      543119
5638522  712588     16322       5        1143      183365
5638523  712588    860543       0        1143      759827
5638524  712588    853510       5        1143      756768
5638525  712588     13890       4        1143      124251

[4302 rows x 5 columns]

In [30]:
book_recs = similar_users.groupby("book_id").rating.agg(['count', 'mean'])

In [31]:
book_recs

          count      mean
book_id
1             6  3.833333
100322        1  0.000000
100365        1  0.000000
10046142      1  0.000000
1005          3  0.000000
...         ...       ...
99561         2  2.500000
99610         1  3.000000
99664         1  4.000000
9969571       3  2.333333
99944         1  0.000000

[2856 rows x 2 columns]

In [32]:
books_titles = pd.read_json("books_titles.json")
books_titles["book_id"] = books_titles["book_id"].astype(str)

In [33]:
book_recs = book_recs.merge(books_titles, how="inner", on="book_id")

In [34]:
book_recs.head(10).style.format({'cover_image': show_image})

In [35]:
book_recs["adjusted_count"] = book_recs["count"] * (book_recs["count"] / book_recs["ratings"])

In [36]:
book_recs["score"] = book_recs["mean"] * book_recs["adjusted_count"]

In [37]:
book_recs = book_recs[~book_recs["book_id"].isin(my_books["book_id"])]

In [38]:
my_books["mod_title"] = my_books["title"].str.replace("[^a-zA-Z0-9 ]", "", regex=True).str.lower()

In [39]:
my_books["mod_title"] = my_books["mod_title"].str.replace("\s+", " ", regex=True)

In [40]:
book_recs = book_recs[~book_recs["mod_title"].isin(my_books["mod_title"])]

In [41]:
book_recs = book_recs[book_recs["mean"] >=4]

In [42]:
book_recs = book_recs[book_recs["count"]>2]

In [43]:
top_recs = book_recs.sort_values("mean", ascending=False)

In [44]:
def show_image(val):
    return '<a href="{}"><img src="{}" width=50></img></a>'.format(val, val)

top_recs.style.format({'cover_image': show_image})